@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Selecione a Categoria";
}

<h1>@ViewData["Title"]</h1>
<div >
    <partial name="_SpecialtyLayout"/>
</div>