<h1>Selecione o exame</h1>
<div class="container" style="text-align:center;">
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Checkup Geral</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Exame de Sangue</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Exame de Vista</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Hemograma</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Glicemia de Jejum</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Cardiovascular</button>
</div>
