<h1>Selecione o profissional</h1>
<div class="container" style="text-align:center;">
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Amanda Alves</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Victor Hugo</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Pedro Silverio</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Caio Lima</button>
</div>
