<div class="container" style="text-align:center;">
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Consulta Geral</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Exame</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Psicologia</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Oftalmologia</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Cardiologia</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Pediatria</button>
</div>