<h1>Selecione uma unidade</h1>
<div class="container" style="text-align:center;">
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Lapa</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Pirituba</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Barra Funda</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Santana</button>
    <button type="button" class="btn btn-primary mb-1 mt-1" style="width:70%;">Casa Verde</button>
</div>