@{
    ViewData["Title"] = "Página inicial";
}

<div class="container" style="text-align:center;">
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="PatientOnlineAppointment" asp-action="Index">Agendar Consulta Online</a>
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="PatientPresentialAppointment" asp-action="index">Agendar Consulta Presencial</a>
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="PatientExam" asp-action="index">Agendar Exame</a>
</div>
