@{
    ViewData["Title"] = "Página inicial";
}

<div class="container" style="text-align:center;">
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="Schedule" asp-action="OnlineSchedule">Agendar Online</a>
    <a  class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="Schedule" asp-action="PresentialSchedule">Agendar Presencial</a>
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="Schedule" asp-action="ExamSchedule">Exame</a>
</div>
