@{
    ViewData["Title"] = "Página inicial";
}

<div class="container mt-3">
        <p class="lead2">Conectando você aos melhores profissionais de saúde. Agende online de forma rápida e segura! Venha saber mais sobre a empresa que facilita o acesso a cuidados médicos, tornando o processo de marcação de consultas e exames mais eficiente e conveniente </p>
        <p class="lead">- Disponibilidade 24/7 para marcar suas consultas médicas e exames.</p>
        <p class="lead">- Encontre médicos próximos a você e agende suas consultas sem sair de casa.</p>
        <p class="lead">- Lembretes automáticos para que você nunca perca uma consulta ou exame.</p>
</div>
<div class="container" style="text-align:center;">
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="PatientOnlineAppointment" asp-action="Index">Agendar Consulta Online</a>
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="PatientPresentialAppointment" asp-action="index">Agendar Consulta Presencial</a>
    <a class="btn btn-primary mb-1 mt-1" style="width:70%;" asp-area="" asp-controller="PatientExam" asp-action="index">Agendar Exame</a>
</div>
