@{
    ViewData["Title"] = "Agendar consulta presencial";
}

<div class="container text-center">
    <h2 style="padding-bottom:20px">
        Agendamento Confimado
    </h2>

    <a class="btn btn-primary" asp-area="" asp-controller="PatientSchedule" asp-action="Index">Ver agendamentos</a>
</div>